*{margin: 0; padding:0; box-sizing: border-box; font-family: "Poppins", sans-serif;}
html{
    scroll-behavior: smooth;
}
body{background:#0a0f29; color:#fff;}

/* NAVBAR */
nav{
    position: fixed; top:0; width:100%; display:flex; justify-content:space-between;
    align-items:center; padding:15px 50px; transition:.3s;
}
nav.scrolled{background:#111a44; box-shadow:0 2px 8px rgba(0,0,0,0.4);}
.logo{font-size:28px; font-weight:700; color:#fff;}
.nav-links{list-style:none; display:flex; gap:25px;}
.nav-links a{color:#fff; text-decoration:none; font-weight:500; transition:.3s;}
.nav-links a:hover{color:#00eaff;}
.menu-btn{font-size:26px; color:#fff; display:none; cursor:pointer;}

/* HERO */
.hero{
    height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center;
    background:linear-gradient(to right,#0a0f29,#263672);
    text-align:center; padding:20px;
}
.hero h1{font-size:55px; font-weight:700;}
.hero span{color:#00eaff;}
.hero p{margin:15px 0; font-size:17px;}
.btn{
    background:#00eaff; padding:10px 25px; color:#00133f; border-radius:30px;
    margin-top:15px; font-weight:600; display:inline-block; transition:.3s;
}
.btn:hover{transform:scale(1.1);}

/* SECTIONS */
section{padding:100px 60px; text-align:center;}
.about p{max-width:650px; margin:auto;}

.services .service-container{
    display:flex; justify-content:center; flex-wrap:wrap; gap:25px; margin-top:25px;
}
.card{
    background:#111a44; padding:25px; width:270px; border-radius:10px; 
    transition:.3s; cursor:pointer;
}
.card:hover{transform:translateY(-10px); background:#0e1742;}

/* CONTACT */
form{
    max-width:450px; margin:auto; display:flex; flex-direction:column; gap:15px;
}
input,textarea{
    padding:12px; border:none; border-radius:8px; outline:none;
}
button{border:none; cursor:pointer;}

/* FOOTER */
footer{background:#0d1436; padding:15px; text-align:center;}

/* RESPONSIVE */
@media(max-width:768px){
    .nav-links{display:none;}
    .menu-btn{display:block;}
}
